<div id="background">
  {{ partial "partials/home/background.html" . }}
</div>

<div style="display: flex; flex-direction: column; align-items: center; gap: 8px; margin-top: 20px;">
  <div style="display: flex; gap: 8px;">
    <a href="https://stackoverflow.com/users/8973620/mykola-zotko">
      <img class="nozoom" src="https://img.shields.io/stackexchange/stackoverflow/r/8973620?logo=stackoverflow&logoColor=white">
    </a>
    <a href="https://github.com/zotko">
      <img class="nozoom" src="https://img.shields.io/github/stars/zotko">
    </a>
  </div>
  <!-- <div style="display: flex; gap: 8px;">
    <a href="https://stackoverflow.com/search?q=user:8973620+[python]">
      <img class="nozoom" src="https://img.shields.io/badge/python-gold-FFD700?logo=stackoverflow&logoColor=white">
    </a>
    <a href="/en/about/#amazon-web-services">
      <img class="nozoom" src="https://img.shields.io/badge/AWS-certified-%23FF9900?logo=amazonwebservices">
    </a>
  </div> -->
</div>
