<div id="background">
  {{ partial "home/background.html" . }}
</div>

<div style="display: flex; flex-direction: column; align-items: center; gap: 8px; margin-top: 20px;">
  <div style="display: flex; gap: 8px;">
    <a href="https://stackoverflow.com/users/8973620/mykola-zotko">
      <img class="nozoom" src="https://img.shields.io/stackexchange/stackoverflow/r/8973620?logo=stackoverflow&logoColor=white">
    </a>
    <a href="https://github.com/zotko">
      <img class="nozoom" src="https://img.shields.io/github/stars/zotko">
    </a>
  </div>
  <div style="display: flex; gap: 8px;">
    <a href="https://github.com/zotko/zotko.dev">
      <img class="nozoom" src="https://img.shields.io/github/last-commit/zotko/zotko.dev">
    </a>
  </div>
</div>
